@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');
@import './component/scss/color.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
    background: $black-color;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    width: 100%;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: $primary-color;
}


.video-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .youtubeVideo{
        margin: 20px 0;

        h1{
            color: $white-color;
        }
    }
}

footer{
    width: 100%;
    color: $primary-color;
    background: $secondary-color;
    font-weight: 800;
    text-align: center;
    padding: 4px;
}
